.home-menu {
	@include border-radius(8px);
	@include rem(padding, 30px);
	
	background-color: $white;
	border: 1px solid shade($white, 10%);
	height: 460px;
}

#menu-main-nav {
	list-style: none;
	padding: 0;
}

#slider {
	max-width: 320px;
	
	//swipe styles
	overflow: hidden;
	position: relative;
	visibility: hidden;
}
.cards {
	@include clearFix;
	
	margin: 0;
	padding: 0;
	
	//swipe styles
	overflow: hidden;
	position: relative;
	
	p {
		@include rem(font-size, 18px);
		
		a {
			font-weight: 500;
		}
	}
}
.card-holder {
	background: black;
	list-style: none;
	
	//swipe styles
	float: left;
	position: relative;
	width: 100%;
	
	//flip styles
	display: block;
	width: 320px;
	height: 460px;
	position: relative;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
}

.card {

	//flip styles
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -webkit-transform 1s;
}

.card article {
	@include border-radius(8px);
	@include rem(padding, 30px 0);
	
	background-color: $white;
	border: 1px solid shade($white, 10%);
	cursor: pointer;
	
	//flip styles
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.card.flipped {
	//flip styles
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
}

.card-back {
	
	//flip styles
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	
	&.hidden {
//		-webkit-overflow-scrolling: auto;
//		overflow-y: hidden;
	}
	
	&.visible {
		-webkit-overflow-scrolling: touch;
//		overflow-y: scroll;
	}
	
	.card-body {
//		@include scrollShadow;
		
		overflow-y: auto;
	}
}

.card-body {
	@include rem(padding, 0 30px);
	
	height: 100%;
}

.card-title {
	@include rem(font-size, 22px);
	@include rem(margin-bottom, 40px);
	@include rem(padding-bottom, 8px);
	
	border-bottom: 2px solid $red;
	color: $red;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
}

.term-title {
	@include rem(font-size, 22px);
	
	line-height: 1.75em;
	text-transform: uppercase;
}

.meta-title {
	@include rem(font-size, 18px);
	
	font-weight: 500;
	line-height: 1.25em;
}

.card-nav {
	display: none;
	margin: 20px 0;
	position: absolute;
	top: 230px;
	width: 320px;

	a {
		@include border-radius(30px);
		@include hiddenText;
		
		background-color: $black;
		background: $gray url(../img/arrow.png) no-repeat 60% 50%;
		display: block;
		height: 60px;
		opacity: .4;
		text-align: center;
		width: 60px;
		
		&:hover {
			opacity: .9;
		}
	}
	
	#prev {
		@include scale(-1);
		
		left: -45px;
		top: 30px;
		position: absolute;
	}
	
	#next {
		right: -45px;
		top: 30px;
		position: absolute;
	}
}


.no-touch .card-nav.active {
	display: block;
}

