* {
	box-sizing: border-box;
}
body {
	background-color: black;
}
.safari-message {
	background: rgba(0,0,0,.75);
	color: white;
	display: block;
	font-size: 20px;
	font-weight: 600;
	height: 460px;
	max-width: 320px;
	padding: 30px;
//	pointer-events:none;
	position: fixed;
	z-index: 100;
}

div[role="main"] {
	background-color: black;
	display: block;
	height: 460px;
	overflow: hidden;
//	position: relative;
	width: 320px;
}

.slider {
	background: transparent;
	height: 460px;
	width: 320px;

	//swipe styles
	overflow: hidden;
	position: absolute;

	&.inactive {
//		display: none;
	}
}

.cards {
	@include clearFix;

	background: transparent;
	list-style: none;
	margin: 0;
	padding: 0;

	//swipe styles
	overflow: hidden;
	position: relative;

	p {
		@include rem(font-size, 18px);

		a {
			font-weight: 500;
		}
	}
}

.card-holder {
	background: transparent;

	//swipe styles
	float: left;
	position: relative;
	width: 320px;

	//flip styles
	height: 460px;
	position: relative;
	width: 320px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
}

.card-holder.on {

	.card article {
		//flip styles
		@include backface-visibility(hidden);
	}
	.card-back {
		//flip styles
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);

		-webkit-overflow-scrolling: touch;

	}
}

.card {
	background: transparent;

	//flip styles
	height: 100%;
	position: absolute;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
}

.card article {
	@include border-radius(8px);

	background-color: $white;
	cursor: pointer;

	//flip styles
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.card.flipped {
	//flip styles
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
}

.card-body {
	@include rem(margin, 4px 0);
	@include rem(padding, 22px 30px);

	height: 400px;
}

.card-front {
	img {
		margin-top: 74px;
	}
}

.card-back {
	position: relative;

		&:before, &:after {
			content: '';
			display: block;
			height: 12px;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 10;
		}

		&:before {
			@include border-radius(8px 8px 0 0);

			@include gradient-vertical(rgba(247,247,246,1), rgba(247,247,247,0));
//			background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(247,247,247,1)),to(rgba(247,247,247,0)));
			top: 4px;
		}

		&:after {
			@include border-radius(0 0 8px 8px);

			@include gradient-vertical(rgba(247,247,247,0), rgba(247,247,247,1));
//			background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(247,247,247,1)),to(rgba(247,247,247,.1)));
			bottom: 4px;
		}

	img {
		display: block;
		margin: 0 auto 16px;
		width: 50%;
	}

	.card-body {
		height: 450px;
		overflow: auto;
	}

	&.hidden .card-body {
		overflow-y: hidden;
	}

	&.visible .card-body {
		overflow-y: auto;
	}
}

.card-title, .term-title {
	@include rem(font-size, 22px);
	@include rem(margin-bottom, 16px);
	@include rem(padding-bottom, 8px);

	border-bottom: 2px solid $red;
	color: $red;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
}

.card-title {
	@include rem(margin-bottom, 48px);
}

.meta-title {
	@include rem(font-size, 18px);

	font-weight: 500;
	line-height: 1.25em;
}

.ref-link {
	display: block;
}

#cover {
	.term-title {
		@include rem(margin-bottom, 42px);
	}
	.instructions {
		@include border-radius(6px);
		@include transition(opacity .25s);

		background-color: rgba(0,0,0,.8);
		border: 1px solid #111;
		color: #fff;
		display: block;
		font-weight: 400;
		width: 260px;

		span {
			display: block;
		}

		&.hidden {
			opacity: 0;

			.dismiss {
				 pointer-events:none;
			}
		}
	}

	.details {
		@include rem(padding, 18px);
	}
	.dismiss {
		@include border-radius(0 0 6px 6px);
		@include rem(font-size, 16px);
		@include rem(padding, 12px);

		background-color: #222;
		border-top: 1px solid #111;
		display: block;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
}

.beta-logo {
	@include hiddenText;

	background: url('../img/beta-logo.png') no-repeat 0 0;
	background-size: 256px;
	display: block;
	height: 100px;
	margin: 74px auto 48px;
	width: 256px;
}

.card-nav {
	display: none;
}

.no-touch .card-nav {
	display: block;
	margin: 20px 0;
	position: absolute;
	top: 150px;
	width: 320px;
	z-index: 100;

	a {
		@include border-radius(30px);
		@include hiddenText;

		background-color: $black;
		background: $gray url(../img/arrow.png) no-repeat 60% 50%;
		display: block;
		height: 60px;
		opacity: .4;
		text-align: center;
		width: 60px;

		&:hover {
			opacity: .9;
		}
	}

	#prev {
		@include scale(-1);

		left: 0;
		top: 30px;
		position: absolute;
	}

	#next {
		right: 0;
		top: 30px;
		position: absolute;
	}
}

#loginform {
	@include rem(margin, -20px 30px 0);

	input {
		@include sansSerif;
	}
}
.login-username,
.login-password {

	margin-bottom: 0;

	label {
		@include rem(margin-top, 8px);

		display: inline-block;
		min-width: 70px;
		vertical-align: top;
	}

	input {
		@include border-radius(4px);
		@include rem(margin, 0 auto 12px);
		@include rem(padding, 6px);

		//webkit default reset
		border: 1px solid $grayLight;
		-webkit-appearance: none;

		max-width: 180px;
		outline-color: $red;
	}
}
.login-remember {
	@include rem(margin-bottom, 30px);
	@include rem(margin-left, 73px);

	input {
		@include rem(margin-right, 10px);
		@include rem(margin-top, -4px);
	}
}
.login-submit input {
	@include border-radius(4px);
	@include rem(height, 40px);
	@include rem(padding, 6px);
	@include rem(width, 160px);

	//webkit default reset
	-webkit-appearance: none;
	border: 1px solid $red;

	background-color: $red;
	color: $white;
	display: block;
	font-weight: 500;
	margin: 0 auto;

	&:hover {
		@include box-shadow(0 1px 2px $gray);
		@include gradient-vertical(tint($red, 20%), $red);

		background-color: $red;
		border: 1px solid shade($red, 15%);
	}
}

.touch .login-submit input {
	@include box-shadow(0 1px 2px $gray);
	@include gradient-vertical(tint($red, 20%), $red);

	background-color: $red;
	border: 1px solid shade($red, 15%);
}

@media screen and (min-height: 500px) {

	.safari-message {
		height: 548px;
	}

	div[role="main"],
	.slider,
	.card-holder {
		height: 548px;
	}

	.card-body {
		height: 488px;
	}

	.card-front img {
		margin-top: 118px;
	}
	.card-back .card-body {
		height: 538px;
	}
}
